<sect-stats>
  <def-wrap class="bg:white bd-b:1px-sld-grey200 dp:bk p:20px-0">
    
    <h2 class="fw:100 fs:250pc m-t:40px m-b:30px">Cryptocurrency statistics</h2>
    
    <div class="dp:tb mxw:800px md-w:100pc md-ta:l fw:400_ws:np_p:10px_span op:0.8_fs:85pc_fw:400_m-t:2px_ws:np_p">
      <div class="dp:n md-dp:tr dp:td_fs:75pc_tr:uc_c:grey200_p:10px_h3">
        <h3></h3>
        <h3></h3>
        <h3>price</h3>
        <h3>cap</h3>
        <h3>volume</h3>
        <h3>change</h3>
      </div>
      <a each={coin in opts.coins}
        onclick={action('APP_SET_COIN', { symbol: coin.symbol })}
        class="md-dp:tr md-dp:td_va:m_all mdx-m:5px-1pc_w:30pc ol-w:1px ts:all {
          'ol-c:ts op:0.6 hv-bg:greya1_op:1': coin.symbol !== parent.opts.coin.symbol,
          'ol-c:grey200': coin.symbol === parent.opts.coin.symbol
        }">
          <div class="p:10px">
            <img src={coin.img} class="w:50px bg:white br:50pc p:3px ts:bs {
              'bs:1': coin.symbol !== parent.opts.coin.symbol, 
              'bs:3': coin.symbol === parent.opts.coin.symbol
            }" />
          </div>
          <div class="w:100pc p:10px">
            <h4>{coin.symbol}</h4>
            <p>{coin.name}</p>
          </div>
          <span class="mdx-dp:n fw:600-!">$ {coin.price}</span>
          <span class="mdx-dp:n">$ {utils.num(coin.cap)}</span>
          <span class="mdx-dp:n">$ {utils.num(coin.vol)}</span>
          <span class="mdx-dp:n ta:r fw:600-! {'c:red': coin.change < 0, 'c:green': coin.change > 0}">{coin.change}%</span>
      </a>
    </div>
  </def-wrap>
  
  <script>
    //console.log(this.opts.coin);
  </script>
</sect-stats>