<sect-footer>
  <div if={this.opts.route !== '/trade'} class="ps:fx b,l:0 w:100pc bg:white bs:3 fs:70pc dp:n md-dp:bk">
    <div class="c:prim bd-b:1px-sld-grey100 ta:l p:3px p-l:12px fw:400">
      <i class="fu-warning c:orange m-r:5px" />
      Our platform is still being <b>tested</b>. To complete a trade please use our messaging system
    </div>
    <div class="md-dp:flx mdx-ta:l mxw:520px jc:c ai:c m-l:0 p:10px">
      <h2 class="m-rl:0">
        <i class="fu-mobile m-b:2px m-r:3px c:sec fs:90pc" />016235659
      </h2>
      <h2 class="md-m-l:20px">
        <a href="mailto:info@cryptoasia.co"><i class="fu-paper-plane m-b:2px c:sec" /> info@cryptoasia.co</a>
      </h2>
      <h2 class="md-m-l:20px">
        <a href="https://www.facebook.com/CryptoAsiaCo/" target="_blank"><i class="fu-facebook-with-circle m-b:2px c:sec" /> facebook</a>
      </h2>
      <h2 class="md-m-l:20px">
        <a href="https://www.facebook.com/groups/1921282154759663/" target="_blank"><i class="fu-head m-b:2px c:sec" /> group</a>
      </h2>
      
      
      <def-input if={false} class="fs:80pc m-r:0" small={true} shadow={true} bordered={true} placeholder="Your Email">
        <i class="fu-asterisk m-b:2px c:grey" />
      </def-input>
      <def-button if={false} class="sx-m-t:10px m-l:5px" prim={true} big={true}>Subscribe</def-button>
      
    </div>
  </div>
</sect-footer>