<sect-charts>
  <div class="bg:white">
    
    <h2 class="fw:100 fs:250pc">Supported cryptocurrencies</h2>
    
    <p class="mxw:600px fs:110pc fw:400 m-tb:20px c:txt200">
      To preview detailed info pick any cryptocurrency, from Bitcoin to Ethereum, Litecoin, Bitcoin Cash, IOTA or other.
    </p>
    
    <div class="md-p:20px p:10px bg:lg-white-grey100 bd-b:1px-sld-fafafa">
      <img each={ coin in opts.coins} 
        src={coin.img} 
        class="m:5px w,h:40px br:50pc p:3px bg:white md-p:5px_w,h:60px_m:10px {
          'op:0.5 hv-op:1 gs:0.7 bs:1': coin.symbol !== parent.opts.coin.symbol,
          'bs:3': coin.symbol === parent.opts.coin.symbol
        }" 
        onclick={handleAppSetCoin(coin.symbol)}
      />
    </div>
    
    <div class="fw:600_m:3px_p:5px-10px_br:3px_a md-m:5px_a fs:90pc m-t:10px">
      <a each={key in keys} 
        onclick={parent.handleClickPeriod(key)} 
        class={'c:sec c:white ts:all': parent.key === key }>{key}
      </a>
      <a 
        onclick={handeGlobalToggle}
        class="fu-globe p:5px br:50pc m:5px ts:all {
          'bg:sec c:white bs:3': showGlobal, 
          'bg:white c:txt100 bs:1': !showGlobal
        }" />
    </div>
    
    <comp-chart 
      classname="stk:tert sk-w:1.5px ts:stk" 
      data={getData(null, showGlobal)} 
      color="#3cd483" />
    
    <def-wrap classname="p:10px-0-20px md-dp:flx ai:c">
      
      <div>
        <div class="dp:flx jc:fs fw:600_c:txta2_tr:uc_fs:80pc_dt fs:200pc_ws:np_dd mdx-p:10px_dl ta:l_p:0-10px_dl">
          <dl>
            <span>
              <dt>{!showGlobal ? opts.coin.symbol : 'Total'}</dt>
              <dd>{showGlobal ? 'Market cap' : opts.coin.name }</dd>
            </span>
          </dl>
          <dl if={!showGlobal}>
            <dt>price</dt>
            <dd> 
              ${currentCap()}
              <small class="fs:50pc fw:400 {
                'c:green': opts.coin.change > 0, 
                'c:red': opts.coin.change < 0
              }">{opts.coin.change}%</small>
            </dd>
          </dl>
          <dl if={showGlobal}>
            <dt>Cap</dt>
            <dd>$ {showGlobal ? currentCap() : utils.num(opts.coin.cap)}</dd>
          </dl>
        </div>
        
        <p class="mxw:800px m-b:20px m-t:10px p-rl:10px c:txt100 ta:l m-l:0 lh:1.5 ls:0.8px">
          {!showGlobal ? opts.coin.desc : totalDesc }
        </p>
      </div>
      
      <div>
        <def-button classname="m:5px w:100px" route="trade" onclick={handleBuyClick} white={true}>buy</def-button>
        <def-button classname="m:5px w:100px" route="trade" onclick={handleSellClick} sec={true}>sell</def-button>
      </div>
      
    </def-wrap>
    
  </div>
  <script>
    //bd-b:1px-sld-grey200
    //bg:lg-45ndg-134e5ea9-71b280a9
    this.showGlobal = true;
    this.totalDesc = "Market capitalization refers to the total dollar market value of a cryptocurrencies. Commonly referred to as \"market cap,\" it is calculated by multiplying a all cryptocurrencies outstanding by the current market price of one cryptocurrency.";
    this.periods = {
      '7 days':    this.utils.timestamp('week'),
      '30 days':   this.utils.timestamp('month'),
      '1 year':    this.utils.timestamp('year')
    };
    
    this.keys = Object.keys(this.periods);
    this.key  = this.keys[0];
    
    this.getData = (key, showGlobal) => 
      this.opts[showGlobal ? 'totalcap' : 'coincap']
        .filter( frag => frag[0] >= this.periods[key || this.key]);
    
    this.currentCap = () => {
      const data = this.getData(null, this.showGlobal);
      return this.utils.num(data[data.length - 1][1]);
    }
    
    this.handleAppSetCoin = symbol => e => {
      this.showGlobal = false;
      this.act('APP_SET_COIN', { symbol });
    }
    
    this.handeGlobalToggle = () => this.update({ showGlobal: !this.showGlobal })
    
    this.handleClickPeriod = (key) => () => ((key !== this.key) && this.update({ key }))
    
    //setInterval(this.handleClick(), 5000);
    
    this.handleBuyClick = (e) => {
      //e.preventUpdate = true;
      this.act('APP_SET_COIN', { symbol: 'BTC' });
      this.act('TRADE_OPEN', {
        action: 'BUY',
        fromType: 'USD',
        toType: 'BTC',
        sell: false,
      });
    }
    
    this.handleSellClick = (e) => {
      //e.preventUpdate = true;
      this.act('APP_SET_COIN', { symbol: 'BTC' });
      this.act('TRADE_OPEN', {
        action: 'SELL',
        fromType: 'BTC',
        toType: 'USD',
        sell: true,
      });
    }
    
    
    
    
  </script>
</sect-charts>