<sect-news>
  <section class="bg:white p-t:50px">
    <h1 class="md-fs:250pc fs:180pc fw:100">Whats new in crypto world</h1>
    
    <def-wrap class="m-tb:20px p-b:20px dp:bk">
      
      <div class="mxw:600px mdx-dp:flx mdx-flxd:col ai:c fw:600_m:3px_p:4px-10px_br:3px_bd-w:1px_a md-m:5px_a">
        <a 
          onclick={handleAuthor()} 
          class={ 
            'bd-c:ts': author, 
            'bg:sec c:white ts:all': !author 
          }>
            All
        </a>
        
        <a 
          each={authorName, i in opts.authors}
          if={!showAuthors || showAuthors && i < showAuthors}
          onclick={handleAuthor(authorName)} 
          class={ 
            'bd-c:ts': author !== authorName, 
            'bg:sec c:white ts:all bd-c:sec': author === authorName 
          }>
            {authorName}
        </a>
        
        <a onclick={toggleShowAuthors}>
          {showAuthorsText()}
        </a>
      </div>
      
      <a 
        if={!show || show && index < show} 
        each={article, index in opts.news || filterNews(opts.news, author)}
        href={article.link} 
        target={article.author !== 'cryptoasia' && '_blank' }
        class="{
          'hv-bs:3 hv-scl:1.048 hv-bd-c:ts_article': true,
          'dp:bk w:100pc p:0-20px ts:all mxh:300px of:hd': true,
          'scl:0.1 op:0 trx:100pc an:hide-1s afm:fwd-! of:hd': false && author && article.author !== author,
          'scl:0.1 mxh:0 op:0': author && article.author !== author,
        }">
          <article class="p-tb:30px dp:flx jc:sb ta:l bd-b:2px-sld-greya2">
            <div class="md-w:30pc">
              <h2 class="fw:600 fs:150pc lh:1.2 m:0-10px-15px-0">{article.title}</h2>
              <p class="fs:80pc">
                <span>{utils.ago(article.date)}</span> <strong class="c:sec">{article.author}</strong>
              </p>
            </div>
            
            <p class="mdx-dp:n mxw:350px w:40pc lh:1.5 ls:0.8px m:0 fs:90pc p-r:20px c:txt300">
              <def-md markdown={article.desc}></def-md>
            </p>
            <div class="mxw:200px mdx-mnw:100px mdx-w:100px gs:70pc mxh:150px of:hd">
              <img class="w:100pc" alt={article.title} src={article.img} />
            </div>
          </article>
      </a>
      
      <def-button class="m-t:30px dp:ib" sec={true} if={show} onclick={loadAll}>Load all</def-button>
      
    </def-wrap>
  
  </section>
  
  
  <script>
    const showAuthorsDefault = 3;
    const showArticlesDefault = 5;
    
    this.show = 0;
    this.showAuthors = parseInt(showAuthorsDefault);
    this.author = 'cryptoasia';
    
    this.showAuthorsText = () => this.showAuthors 
      ? `+ ${this.opts.authors.length - this.showAuthors}` 
      : `- ${this.opts.authors.length - showAuthorsDefault}`;
      
    this.loadAll = () => this.update({ show: 0 });
    this.toggleShowAuthors = () => this.update({ showAuthors: !this.showAuthors ? showAuthorsDefault : 0 });
    
    // setTimeout(() => this.update({ show: 0 }), 10)
    
    //this.filterNews = (news, author) => news.filter( article => author ? article.author === author : true)
    
    this.handleAuthor = author => e => this.update({ author, show: author ? 0 : showArticlesDefault });
    
  </script>
</sect-news>