<sect-steps>
  
  <def-wrap classname="md-dp:flx" class="md-ta:l bg:white dp:bk p-tb:60px mnh:200px ts:all" style={ stepsStyle }>
    <div class="md-w:50pc m-tb:20px mxw:400px">
      <h2 class="fs:200pc md-m-l:0 fw:100 m-b:10px lh:1.2">Exchange Bitcoin, Ethereum, Litecoin and more within minutes</h2>
      <p class="fw:400 fs:110pc c:txt200 m-tb:20px">Getting started on CryptoAsia is easy, fast and secure.</p>
      <img each={payment in opts.payments} src={payment.img} alt={payment.title} class="h:30px m:0-20px-10px-0 {'gs:100pc op:0.5': payment.upcoming}" />
    </div>
    <div class="md-mxw:50pc">
      <span each={step, index in steps} class="md-dp:flx md-jc:fs m-tb:20px">
        <span class="br:50pc w,h,lh,mnw:50px fs:200pc c:grey300 bd-w:1px ta:c m:15px m-t:5px fw:100">{index + 1}</span>
        <div>
          <h3 class="fs:130pc m-b:5px c:sec fw:300">{step.title}</h3>
          <p class="fs:90pc fw:400 mdx-mxw:400px">{step.subTitle}</p>
        </div>
      </span>
    </div>
  </def-wrap>
  
  <script>
  
    this.steps = [
      {
        title: 'Sign up on CryptoAsia',
        subTitle: 'Enter and confirm your phone number to sign up.',
      },
      {
        title: 'Place the order and Send the payment',
        subTitle: 'Payment process is pretty simple and takes just a few steps'
      },
      {
        title: 'Receive Transactions',
        subTitle: 'We offer lightning-fast transactions taking just 10-30 minutes in regular circumstances'
      },
    ];
    
    this.bgImage = '/img/bg-splash-1.jpg';
    this.stepsStyle = {
      'background-image':     `linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url('${this.bgImage}')`,
      'background-size':      'cover',
      'background-position':  '0% 90%',
      'background-repeat':    'no-repeat'
    }
  </script>
</sect-steps>