<sect-coins>
  <def-wrap class="bg:white dp:bk p:20px-0">
    
    <h2 class="fw:100 fs:250pc">Supported cryptocurrencies</h2>
    
    <p class="mxw:600px fs:110pc fw:400 m-tb:20px c:txt200">
      Pick any supported cryptocurrency you want, from Bitcoin to Ethereum, Litecoin, Bitcoin Cash, IOTA and other.
    </p>
    
    <div class="p-b:20px">
      <img 
        each={coin in opts.coins} 
        src={coin.img} 
        class="m:10px w,h:60px ts:op br:50pc p:5px bg:white {
          'op:0.5 hv-op:1 bs:1': coin.symbol !== parent.opts.coin.symbol,
          'bs:3': coin.symbol === parent.opts.coin.symbol
        }" 
        alt={coin.symbol} 
        onclick={action('APP_SET_COIN', { symbol: coin.symbol })}
      />
    </div>
    
  </def-wrap>
  
  <script>
    //console.log(this.opts.coin);
  </script>
</sect-coins>