<sect-header>
  <div class="h:100vh mnh:600px w:100pc c:white dp:flx ai:c ps:rl" style={ headerStyle }>
    
    <div class="w:100pc z:2">
      <def-wrap class="md-ta:l">
        
        <div class="m-b:8pc">
          <h1 class="fw:100 md-fs:430pc fs:250pc lh:1.1">
            Buy, Sell cryptocurrency<br />
            inside <strong class="fw:300">Cambodia</strong>
          </h1>
        </div>
        
        <h3 if={false} class="dp:n md-dp:bk fw:300">
          You can exchange cryptocurrency in minutes. It's that simple.
        </h3>
        <h3 class="dp:n md-dp:bk fw:300">
          Simple, fast, secure way to Buy and Sell Bitcoin, Ethereum, Litecoin and more in minutes.
        </h3>
        
        <div class="m-t:10px dp:ib mxw:600px">
          <comp-buy 
            handle-trade-update={opts.handleTradeUpdate} 
            handle-trade-swap={opts.handleTradeSwap}
            handle-trade-continue={opts.handleTradeContinue}
            coin={opts.coin} 
            trade={opts.trade || {}} />
        </div>
        
        <div class="m-t:8pc mdx-fs:85pc">
          <a href="/wing" class="bg:blacka5 bd:1px-sld-seca5 p:5px-20px br:20px fw:600 c:inh">
            Buy and Sell with
            <span class="bd-l:1px-sld-seca5 m-l:10px m-l:15px_img">
              <img class="h:30px" riot-src={wingImage} />
            </span>
          </a>
        </div>
      </def-wrap>
      
    </div>
    
    <div if={opts.coins} class="lgx-ta:l bg:blacka5 w:100pc ps:ab t:0 ws:np of:hd bs:2 h:25px">
      <div class="lgx-an:marquee-inf-32s-ln hv-aps:pau fs:75pc lgx-ps:ab p:5px_m-r:5px_op:0.9_a h:13px_m-r:2px_img m-r:2px_strong">
        <a 
          each={ coin in opts.coins } 
          onclick={action('APP_SET_COIN', coin)}
          class={'bg:white c:txt bs:2_img': coin.symbol === parent.opts.coin.symbol} if={coin.symbol}>
            <img src={coin.img} /> 
            <strong>{coin.symbol}</strong> 
            {coin.price} {coin.currency}
            
        </a>
        <a 
          each={ coin in opts.coins } 
          onclick={action('APP_SET_COIN', coin)} 
          class="lg-dp:n {'bg:white c:txt bs:2_img': coin.symbol === parent.opts.coin.symbol}">
            <img src={coin.img} /> 
            <strong>{coin.symbol}</strong> 
            {coin.price} {coin.currency}

        </a>
      </div>
    </div>
    
  </div>
  <script>
    
    this.bgImage = '/img/bg-header.jpg';
    this.wingImage = '/img/logo-payment-wing.png';
    this.headerStyle = {
      background:         `linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('${this.bgImage}')`,
      'background-size':  'cover'
    }
    
    // this.bgImage   = 'https://changelly.com/163d04ee0886bd98b5fc4621148da7f1.jpg';
    // this.bgImage = 'http://static.asiawebdirect.com/m/bangkok/portals/cambodia/homepage/phnom-penh/top10/top10-phnom-penh-riverside-hotels/pagePropertiesImage/top10-phnom-penh-riverside-hotels.jpg';
    // this.bgImage = 'http://www.golfcorner.com.au/wp-content/uploads/sunset-phnom-penh.jpg';
    //console.log(opts.coins);
  </script>
</sect-header>