<sect-why>
  <section class="p-t:60px bg:lg-white-fafafa">
    <h1 class="fs:250pc fw:100">Why you should choose us</h1>
    <def-wrap if={false} classname="dp:flx flxw:wrp fd:col md-fd:row">
      <div each={section in reasons} class="m-tb:30px">
        <h2 class="fw:600">{section.title}</h2>
        <img class="mxw:200px p:20px" alt={section.title} src={section.img} />
        <p class="fw:400 mxw:250px">{section.subTitle}</p>
      </div>
    </def-wrap>
    
    <def-wrap classname="p-tb:30px dp:flx flxw:wrp">
      <div if={!section.hide} each={section in reasons} class="md-w:50pc">
        <div class="m-tb:30px dp:flx jc:fs ta:l">
          <img src={section.img} class="w,h:70px p:5px mnw:70px bs:2 br:10px m-rl:5pc" />
          <div class="m-l:0">
            <h2 class="fw:400">{section.title}</h2>
            <p class="mxw:350px fw:400 fs:90pc c:txt200 m-t:10px lh:1.6">{section.subTitle}</p>
          </div>
        </div>
      </div>
    </def-wrap>
    
  </section>
  
  
  <script>
    this.reasons = [
      {
        title: 'Reasonable Fees',
        subTitle: 'Extra charges apply in addition to the rate provided at the checkout',
        img: '/img/icons/taxes.svg'
      },
      {
        title: 'Secured Process',
        subTitle: 'We are a team with one of the longest track records on crypto market in Cambodia',
        img: '/img/icons/security.svg'
      },
      {
        title: 'Instant Support',
        subTitle: 'Feel free to contact info@cryptoasia.co if you have any questions',
        img: '/img/icons/support.svg'
      },
      {
        title: 'Quick Transaction',
        subTitle: 'We offer lightning-fast transactions taking just 10-30 minutes in regular circumstances',
        img: '/img/icons/history.svg'
      },
      {
        title: 'Trusty',
        subTitle: 'We are a team with one of the longest track records on crypto market in Cambodia.',
        hide: true,
      },
      {
        title: 'Fast',
        subTitle: 'Enter the amount and the address. Transfer your coins and let the magic happen.',
        hide: true,
      },
      {
        title: 'Fair',
        subTitle: 'Other cryptocurrency trading services charge you with withdrawal fees and commissions. We have a reasonable fee.',
        hide: true,
      }
    ]
  </script>
</sect-why>