<comp-step-nav>
  
  <nav class="bd-b:1px-sld-grey200 bg:white ps:ab t,l:0 w:100pc z:3 dp:flx jc:sb ai:c p:0-5pc {opts.classname}">
    <a href="/" class="dp:flx ai:c p:5px">
      <img class="w:24px m-r:5px" src={opts.meta.favicon} />
      <h2 class="fw:300 md-p-tb:20px mdx-dp:n">{opts.meta.name}</h2>
    </a>
    <div if={opts.showLink} class="dp:flx w:100pc md-mxw:500px p:15px-5px">
      <a class="w:100pc hv-scl:1.1_h3" onclick={opts.onSetStep(index + 1)} each={step, index in opts.tradeSteps}>
        
        <div class="dp:flx m-b:2px">
          <span class={ classNameLine(index + 2 <= opts.stepDone, !index, index + 2 === opts.stepDone + 1) } />
          
          <span class="{ 
            'w,h,lh:12px br:50pc bd:2px-sld-white': true, 
            'bg:grey200': index + 2 > opts.stepDone + 1,
            'bg:sec bs:2': index + 2 === opts.stepDone + 1,
            'bg:prim300 bs:1': index + 2 < opts.stepDone + 1 
          }" />
          
          <span class={ classNameLine(index + 2 <= opts.stepDone, index >= opts.tradeSteps.length - 1 ) } />
        </div>
        
        <h3 class="{
          'fs:75pc tt:cap ts:tf': true, 
          'c:grey300 fw:400': index + 2 > opts.stepDone + 1,
          'c:sec fw:600': index + 2 === opts.stepDone + 1,
          'c:prim300 fw:600': index + 2 < opts.stepDone + 1
        }">{step.name}</h3>
        
      </a>
    </div>
    
    <div>
      <a href={opts.back || '/trades'} onclick={opts.onclose} class="fs:140pc md-p:20px-30px fu-cross c:prim p:5px" />
    </div>
    
  </nav>
  
  <script>
  
    this.classNameLine = (active, hide, progress) => ({
      'm-t:6px w:50pc h:1px': true,
      'bg:ts': hide, 
      'bg:grey200': !hide && !active && !progress,
      'bg:prim': !hide && active,
      'bg:lg-90deg-prim-sec': !hide && progress
    });
    

    //mdx-flxw:wrap
    // w:50pc h:1px m-t:4px {'bg:ts': index < 1, 'bg:grey200': index > 0 && stepDone !== index }
    
    // init.bind(this)();
    
    // function init(){
    //   const { sell, fromValue, fromType, toValue, toType } = this.opts.trade || {};
      
    //   this.sell       = sell      || true;
    //   this.fromValue  = fromValue || '';
    //   this.fromType   = fromType  || 'USD';
    //   this.toValue    = toValue   || '';
    //   this.toType     = toType    || this.opts.coin.symbol; 
    // }
    
  </script>
</comp-step-nav>