<comp-buy>
  <div class="dp:flx ai:c fd:col md-fd:row">
    <def-input 
      ref="from"
      name="fromAmount"
      title="You Have" 
      option={opts.trade.from} 
      val={opts.trade.fromAmount || ''} 
      handleblur={opts.handleTradeUpdate || console.log} 
      handleclickoptions={handleClickOptions(false)} 
      shadow={true} 
      bordered={opts.bordered}
      trade={opts.trade} />
    
    <i onclick={opts.handleTradeSwap || console.log} 
      class="fu-repeat p:20px mdx-p:5px-! mdx-m-b:10px hv-rot:180deg ac-rot:90deg_c:sec ts:all" />
    <def-input 
      ref="to" 
      title="You Get" 
      option={opts.trade.to} 
      val={opts.trade.toAmount || ''} 
      name="toAmount"
      dark={!opts.onlyfields} 
      prim={opts.onlyfields} 
      handleblur={opts.handleTradeUpdate || console.log} 
      handleclickoptions={handleClickOptions(false)} 
      shadow={true} 
      bordered={opts.bordered}
      trade={opts.trade} />
    
    <i if={!opts.onlyfields} class="fu-chevron-thin-right p:10px-20px mdx-dp:n" />
    <i if={!opts.onlyfields} class="fu-chevron-thin-down p:10px-20px md-dp:n" />
    
    <def-button onclick={opts.handleTradeContinue} if={!opts.onlyfields} class="sx-m-t:10px" sec={true} big={true}>
      Continue
    </def-button>
    
  </div>
  <script>
    this.handleClickOptions = (alow) => e => alow && this.act('DEF_REDIRECT', '#popup=coins');
  </script>
</comp-buy>
