<comp-summary>
  <div class="ta:l br:5px bs:1 p:20px p-t:10px bg:white">
        
    <div if={(opts.title || opts.subtitle) && !opts.nohead} class="dp:flx jc:sb bd-b:1px-sld-greya3 m-tb:10px p-b:10px">
      <div>
        <h4 if={opts.title} class="fw:600 fs:110pc c:txt300">{opts.title}</h4>
        <def-md if={opts.subtitle} class="m-t:20px fs:80pc fw:400 c:txt200 m-l:15px_p-b:5px_li" md={opts.subtitle} />
      </div>
      <span if={opts.img}>
        <img class="h:25px" src={opts.img} />
      </span>
    </div>
    
    <div class="dp:flx flxw:wrap jc:fs ls:1 mnw:50pc_m-t:10px_div fs:80pc_fw:400_c:txt200_dp:bk_label fw:400_fs:110pc_p-t:4px-dt_span">
      <div each={field in fields}>
        <label if={field}>{field.label}</label>
        <span if={field} class="{field.classname}">
          <img if={field.icon} src={field.icon} class="w:25px bg:white br:50pc p:3px ts:bs  w:50px bg:white br:50pc p:2px ts:bs bs:1" />
          {!field.link && field.value}<a class="td:ul c:sec" if={field.link} target="_blank" href={field.link}>{field.value || 'Link'}</a>
        </span>
      </div>
    </div>
  </div>
  <script>
    
    this.on('update', init.bind(this)) && init.bind(this)();
    
    function init(){
      this.fields = this.opts.fields.filter(item => item);
    }
  </script>
</comp-summary>