<comp-chart>
  <div class="ps:rl">
    
    <div class="lh:0 w:100pc crs:n">
      <svg riot-viewBox={viewBox} ref="chart" class="pe:bob" onmousemove={handleMove} onmouseleave={handleLeave}>
        
        <defs>
          <linearGradient id="linear" x1="0" y1="0" x2="0" y2="1" spreadMethod="pad">
            <stop offset="0%" riot-stop-color={opts.color} stop-opacity="0.2" />
            <stop offset="70%" stop-color="#fff" stop-opacity="0"/>
          </linearGradient>
        </defs>
        
        <path class="ve:nss {opts.classname}" fill="url(#linear)" style={{ stroke: opts.color }} d={path} ref="path" />
          
        <g if={coord || maxCoord} class="an:fadeIn-1s">
          <line 
            riot-x1={coord && coord.x || maxCoord.x} 
            riot-y1={height} 
            riot-x2={coord && coord.x || maxCoord.x} 
            riot-y2={coord && coord.y || maxCoord.y} 
            class="stk:seca3 stk-w:1px ve:nss"
            style={{ stroke: opts.color, opacity: 0.6 }}
          />
          <circle 
            if={maxCoord} 
            riot-cx={maxCoord.x} 
            riot-cy={maxCoord.y} 
            r="3" 
            ref="max" 
            class="fi:sec stk-w:1px stk:white {'op:0': coord}" 
            style={{ fill: opts.color }}
          />
          <circle 
            if={coord} 
            riot-cx={coord.x} 
            riot-cy={coord.y} 
            r="3" 
            class="fi:sec stk-w:1px stk:white"
            style={{ fill: opts.color }}
          />
        </g>
        
      </svg>
  
    </div>
    <div class="ps:rl h:55px">
      <span
        if={point}
        class="ps:ab bd-w:1px c:sec br:5px p:10px-20px w:150px ta:c ts:tf-0.2s l:0 lh:1" 
        style={{ transform: 'translate(' + translate(point) + 'px)', 
          'border-color': opts.color, 
          color: opts.color 
        }}>
          <strong>$ {utils.num(coord && coord.data[1] || maxCoord.data[1])}</strong> <br />
          <small>{utils.ago(coord && coord.data[0] || maxCoord.data[0] )}</small>
      </span>
    </div>
  </div>
  <script>
    this.width  = this.opts.width   || 600;
    this.height = this.opts.height  || 120;
    
    this.viewBox = `0 0 ${this.width} ${this.height}`;
    this.translate = ({ x } , size = 150) => {
      return x > size / 2 
        ? x > document.body.clientWidth - size
          ? document.body.clientWidth - size - 1
          : (x - (size / 2))
        : 0
    }
    
    this.opts.classname = this.opts.classname || 'stk:sec fi:seca3 stk-w:1.5';
    
    if(this.SERVER)
      return;
      
    //this.handleCoord = () => (e) => 
      
    this.handleCoord = coord => e => this.update({ coord });
    
    this.handleMove = e => {
      // const { width } = e.target.getBoundingClientRect();
      // console.log(width);
      
      const svg = this.refs.chart;
      
      let point = svg.createSVGPoint();
  
      point.x = e.clientX;
      point.y = e.clientY;
      const pointer = point.matrixTransform(svg.getScreenCTM().inverse());
      
      
      const coord = this.coords.reduce((prev, cur) => 
        prev 
          ? Math.abs(cur.x - pointer.x) < Math.abs(prev.x - pointer.x) ? cur : prev
          : cur
      )
      
      if(!this.coord || coord.x !== this.coord.x)
        this.update({ coord, point });
      
    }
    
    this.handleLeave = e => this.update({ coord: null, point: this.refs.max.getBoundingClientRect() })
    
    this.on('mount', () => init.bind(this)({}, this.opts) && this.update({ first: true }));
    this.shouldUpdate = init.bind(this);
    
    function init(updateData = {}, { data }){
      
      if(Object.keys(updateData).length) 
        return true;
      
      if(!data)
        return console.warn('data is not provided to draw the chart');
      
      const values = Array.from(data, r => r[1]);
      
      const { height, width } = this;
      const padding = 10;
      
      const limits = {
        min: Math.floor(Math.min.apply( null, values ) * 1), //0.95 Math.floor
        max: Math.max.apply( null, values ) //1.01 Math.ceil
      };
      
      const steps = {
        x: width / values.length,
        y: (limits.max - limits.min) / (height - ( padding * 2 ))
      };
      
      const fromCoords  = this.coords || getCoordinates(values, data, { width, height: height, padding }, limits, steps, true);
      const toCoords    = getCoordinates(values, data, { width, height, padding }, limits, steps);
      
      animate(this.refs.path, getBetweenCoordinates(fromCoords, toCoords, 15), 0.1);
      
      this.coords = toCoords;
      this.steps  = steps;
      this.limits = limits;
      
      if(!this.maxCoord || !this.coord){
        this.maxCoord = toCoords.find(c => c.isMax ) || toCoords.find(c => c.data);
        
        this.maxCoord && setTimeout(function(){
          this.update({ point: this.refs.max.getBoundingClientRect() });
        }.bind(this), 50);
      }
      
      return true;
    }
    
    // this.animate = (elem, arr, fn = svgPath, steps = 10, attr = 'd', smoothing = 0) => {
    //   let i = 1;
    //   function drawPath(timestamp){
    //     const p = fn(arr)((1 / steps) * i);
    //     elem.setAttribute(attr, p); i++;
    //     i <= steps && window.requestAnimFrame(drawPath);
    //   }
    //   window.requestAnimFrame(drawPath);
    // }
    
    function animate(elem, arr, smoothing = 0, fn = svgPath, attr = 'd'){
      let i = 0;
      function drawPath(timestamp){
        elem.setAttribute(attr, fn && fn(arr[i], smoothing)); i++;
        arr[i] && window.requestAnimFrame(drawPath.bind(this));
      }
      window.requestAnimFrame(drawPath.bind(this));
    }
    
    function getBetweenCoordinates(from, to, multiply = 10){
      if(!multiply)
        return [ from, to ]
      if(from.length !== to.length){
        from = makeSameLength(from, to);
        //return [to, from]
        //console.warn('getBetweenCoordinates from array and to array has to be same length');
        //return [ from, to ];
      }
      
      const step = 1 / multiply;
      
      const betweenCoords = Array.from(Array(multiply).keys()).reverse()
        .map( i => getDif(from, to, step * i) );
        
      //betweenCoords.push(to);
      return betweenCoords;
      
      function getDif(from, to, rate = 0.5){
        return Array.from(to, (c, i) => {
          
          const fromY = from[i].y;
          const toY   = c.y;
          
          if(toY === fromY) 
            return c;
          
          const difY = toY - ( (toY - fromY) * rate );
          
          return { x: c.x, y: difY }
        });
      }
      
      function makeSameLength(from, to){
        //if(to.length > from.length){
          const dif = to.length - from.length;
          const step = parseInt(to.length / from.length);
          let t = -1;
          return Array.from(to).map( (c, i) => {
            if(i % step === 0) t++;
            return { x: c.x, y: from[t] ? from[t].y : to[0].y }
          })
        //}
      }
    }
    
    function getCoordinates(values, data, { height, width, padding }, { min, max }, step, base){
      //const { width, height } = elem.getBoundingClientRect();
      padding = padding || 5;
      
      function getCords(values, scale = 1){
        const xStep = step.x;
        const yStep = step.y;
      
        let crd = Array.from(values).map( (value, i) => ({
          x: ( xStep * ( i + 1 ) ) - ( xStep / 2 ),
          y: base 
            ? height - padding 
            : (( height - padding ) - ( ( value - min ) / yStep )),
          data: data[i],
          isMax: value === max,
          isMin: value === min,
        }));
        // add start and end points for filling
        crd.unshift({ x: -xStep, y: crd[0].y });
        crd.unshift({ x: -xStep * 2, y: height });
        crd.push({ x: width + xStep, y: crd[crd.length - 1].y });
        crd.push({ x: width + (xStep * 2), y: height });
        return crd;
      }
      
      return getCords(values);
    }
    
    function svgPath(points, smoothing = 0.2){
      
      return points.reduce((acc, {x, y}, i, a) => {
        return i === 0
          ? `M ${x},${y}`
          : `${acc} ${ smoothing ? bezier({x, y}, i, a) : `L ${x},${y}`}`
      }, '');
      
      function line(pointA, pointB){
        const lengthX = pointB.x - pointA.x
        const lengthY = pointB.y - pointA.y
        return {
          length: Math.sqrt(Math.pow(lengthX, 2) + Math.pow(lengthY, 2)),
          angle: Math.atan2(lengthY, lengthX)
        }
      }
      
      function controlPoint(current, previous, next, reverse){
      
        const p = previous || current
        const n = next || current
      
        // Properties of the opposed-line
        const o = line(p, n)
      
        // If is end-control-point, add PI to the angle to go backward
        const angle = o.angle + (reverse ? Math.PI : 0)
        const length = o.length * smoothing
      
        // The control point position is relative to the current point
        const x = current.x + Math.cos(angle) * length
        const y = current.y + Math.sin(angle) * length
        return { x, y }
      }
      
      function bezier(point, i, a){
      
        // start control point
        const cps = controlPoint(a[i - 1], a[i - 2], point)
      
        // end control point
        const cpe = controlPoint(point, a[i - 1], a[i + 1], true)
        return `C ${cps.x},${cps.y} ${cpe.x},${cpe.y} ${point.x},${point.y}`
      }
      
    }
    
  </script>
</comp-chart>