<comp-merchant class="m:0">
  <div>
    <div class={
      'md-dp:flx m-t:10px jc:fs fw:600_c:txta2_tr:uc_fs:80pc_dt fs:200pc_ws:np_dd mdx-p:10px_dl ta:l_p:0-10px_dl ts:op': true,
      'op:0.3': !opts.merchant.isActive
    }>
      <dl>
        <dt>Margin</dt>
        <dd>
          {opts.merchant.margin *100}%
        </dd>
      </dl>
      <dl>
        <dt>Min Amount</dt>
        <dd>
          ${opts.merchant.minAmount}
        </dd>
      </dl>
      <dl>
        <dt>Max Amount</dt>
        <dd>
          ${opts.merchant.maxAmount}
        </dd>
      </dl>
    </div>
    <p class={'mxw:800px m-b:20px m-t:10px p-rl:10px c:txt100 ta:l m-l:0 lh:1.5 ls:0.8px': true, 'op:0.3': !opts.merchant.isActive}>
      {opts.variables.merchantDescription}
    </p>
    <div>
      <def-check
        left={true}
        checked={opts.merchant.isActive}
        handlechange={opts.handleMerchantUpdate || console.log}
        name="merchantIsActive"
        md={opts.variables.merchantActive} />
    </div>
    <div class={'m-tb:20px': true, 'op:0.3': !opts.merchant.isActive}>
      <h4 class="ta:l m:10px m-t:20px c:txta2 tr:uc fs:80pc fw:600">Your Destinations</h4>
      <div 
        each={destination in opts.merchant.destinations} 
        class="p:5px-15px_bg:prim200_br:3px_m-b:4px_c:white_fw:400_fs:90pc_span ta:l c:prim200_fw:400_i m-l:10px">
          <span>{destination.symbol}</span>
          <span if={destination.method} class="bg:sec-! op:0.8">{destination.method}</span>
          <i>{destination.phone || destination.address}</i> 
      </div>
    </div>
  </div>
  
</comp-merchant>
