<comp-coins>
  <div class="bg:white bs:3 an:land-0.5s mxw:500px">
    <header class="p:30px-40px bd-b:1px-sld-grey200 ls:1px fs:110pc fw:400 ps:rl">
      Supported Cryptocurrencie
      <i onclick={handleClosePopup} class="fu-cross ps:ab r:0 fs:120pc m:0-25px p:3px m-t:3npx hv-rot:90dg ts:all" />
    </header>
    <div class="bg:white p:20px op:0.8_fs:85pc_fw:400_m-t:3px_ws:np_p">
      <a 
        each={coin in opts.state.coins}
        onclick={action('APP_SET_COIN', { symbol: coin.symbol, redirect: '#' })}
        class="w:30pc m:5px-1pc p-tb:20px of:hd br:10px ts:all ps:rl bd-w:1px {
          'bd-c:ts op:0.8 hv-bg:greya1_op:1': coin.symbol !== parent.opts.state.coin.symbol,
          'bd-c:grey200': coin.symbol === parent.opts.state.coin.symbol
        }" 
        if={coin.symbol}
      >
          <img class="w:50px bg:white br:50pc p:3px m-b:10px ts:bs {
            'bs:1': coin.symbol !== parent.opts.state.coin.symbol, 
            'bs:3': coin.symbol === parent.opts.state.coin.symbol
          }" src={coin.img} />
          <h4>{coin.symbol}</h4>
          <p>{coin.name}</p>
          <i if={coin.symbol === parent.opts.state.coin.symbol} class="an:fadeIn-0.2s ps:ab r,t:0 fu-check fs:70pc p:3px bg:sec c:white br:50pc m:3px" />
      </a>
    </div>
  </div>
  <script>
  
    this.handleClosePopup = () => this.act('DEF_REDIRECT', '#');
    
    
  </script>
</comp-coins>