<comp-payments>
  <div class="bg:white bs:3 an:land-0.5s mxw:500px">
    <header class="p:30px-40px bd-b:1px-sld-grey200 ls:1px fs:110pc fw:400 ps:rl">
      Supported Payments
      <i onclick={handleClosePopup} class="fu-cross ps:ab r:0 fs:120pc m:0-25px p:3px m-t:3npx hv-rot:90dg ts:all" />
    </header>
    <div class="bg:white p:20px op:0.8_fs:85pc_fw:400_m-t:3px_p">
      <a 
        each={payment in opts.state.payments}
        onclick={!payment.upcoming && handleClosePopup}
        class="md-w:30pc w:40pc m:5px-1pc p-tb:20px of:hd br:10px ts:all ps:rl bd-w:1px {
          'bd-c:ts op:0.8 hv-bg:greya1_op:1': !payment.selected,
          'bd-c:grey200 bg:greya1': payment.selected
        }">
          <img class="h:45px bg:white br:5px p:7px ts:bs {
            'gs:100': payment.upcoming,
            'bs:1': payment.selected
          }" src={payment.img} />
          <p>{payment.title}</p>
          <i if={payment.selected} class="an:fadeIn-0.2s ps:ab r,t:0 fu-check fs:70pc p:3px bg:sec c:white br:50pc m:3px" />
          <i if={payment.upcoming} title="upcoming" class="an:fadeIn-0.2s ps:ab r,t:0 fu-clock fs:80pc p:3px c:grey br:50pc m:3px" />
      </a>
    </div>
  </div>
  <script>
    this.handleClosePopup = () => this.act('DEF_REDIRECT', '#');
  </script>
</comp-payments>