<page-trade>
  
  <def-fog if={loading || !SERVER && !step} loading={true} />
  <def-msg if={error} error={error} title="Invalid" onclick={error && handleError} />
  
  <comp-step-nav
    if={step && opts.trade.status === 'Incomplete'}
    meta={meta} 
    trade-steps={tradeSteps} 
    on-set-step={handleSetStep} 
    step-done={step} 
    back={back} 
    show-link={true}
    onclose={handleclose}
  />

  <div if={step} class={ 'mdx-p-rl:5pc mxw:600px': true, 'm-t:50px': step !== 4 }>
    
    <section>
      <img if={tradeSteps[step - 1].icon} 
        class="md-h:100px h:70px m-b:10px" 
        src={tradeSteps[step-1].icon(!opts.sell)} />
      <h2 class="p:0 md-fs:180pc ls:2 c:prim400 fw:500">
        {tradeSteps[step-1].title(!opts.sell && opts.trade.to)}
      </h2>
      <def-md 
        class="m-t:5px fw:400 c:prim300 p-rl:2pc ta:l_p-l:20px_ul m-b:5px_li mxw:550px" 
        markdown={tradeSteps[step-1].subtitle(!opts.sell)} />
    </section>

    <div class="m-t:40px m-b:20px">
      
      <!--Step 1-->
      <comp-buy if={ step === 1 } 
        handle-trade-swap={handleTradeSwap} 
        handle-trade-update={handleTradeUpdate} 
        onlyfields={true} 
        trade={opts.trade} />

      <!-- Step 2 -->
      <comp-step-two if={ step === 2 }
        trade={opts.trade} 
        transaction={opts.transaction || {}} 
        sell={opts.sell}
        addresses={addresses}
        handle-transaction-update={handleTransactionUpdate} />
      
      <!-- Step 3 -->
      <comp-step-three if={ step === 3 }
        trade={opts.trade} 
        transaction={opts.transaction || {}} 
        sell={opts.sell} 
        handle-transaction-update={handleTransactionUpdate} />
      
      <!-- Step 4-->
      <comp-summary if={ step === 4 } 
        class="dp:bk m-tb:20px" 
        nohead={false} 
        title="Transaction Summary"
        subtitle="" 
        fields={[
          { label: 'Date', value: utils.date(opts.trade.createdAt, 'iso') },
          { label: 'Action', value: opts.trade.type, classname: !opts.trade.sell ? 'c:green' : 'c:red' },
          { label: 'From', value: [opts.trade.fromAmount, opts.trade.from].join(' '), icon: opts.trade.fromTypeIconUrl },
          { label: 'To', value: [opts.trade.toAmount, opts.trade.to].join(' '), icon: opts.trade.toTypeIconUrl },
          
          opts.transaction.buyersConfirmation.hash && {
            label: 'Senders Confirmation',
            value: opts.trade.from + ' transaction link',
            link: 'https://www.blockchain.com/' + opts.trade.from.toLowerCase() + '/tx/' + opts.transaction.buyersConfirmation.hash
          },
          opts.transaction.sellersDestination.method && {
            label: 'Payment method', value: opts.transaction.sellersDestination.method,
          },
          
          opts.transaction.sellersDestination.method && {},
          opts.transaction.buyersConfirmation.phone && {
            label: 'Senders phone number', value: opts.transaction.buyersConfirmation.phone
          },
          opts.transaction.buyersConfirmation.code && {
            label: 'Senders confirmation code', value: opts.transaction.buyersConfirmation.code
          },
          
          opts.transaction.sellersConfirmation.hash && {
            label: 'Merchants confirmation',
            value: opts.trade.to + ' transaction link',
            link: 'https://www.blockchain.com/' + opts.trade.to.toLowerCase() + '/tx/' + opts.transaction.sellersConfirmation.hash
          },
          
          opts.transaction.sellersConfirmation.phone && {
            label: 'Merchants phone number', value: opts.transaction.sellersConfirmation.phone
          },
          opts.transaction.sellersConfirmation.code && {
            label: 'Merchants confirmation code', value: opts.transaction.sellersConfirmation.code
          },
          
        ]} />
      
    </div>

    <!--Confirm checkbox-->
    <def-check 
      if={ step === 2 } 
      checked={opts.transaction.buyerAgrees}
      handlechange={handleTransactionUpdate}
      transaction={opts.transaction}
      name="buyerAgrees"
      md={tradeSteps[step-1].confirm(!opts.sell && opts.trade.to)} />
    
    <def-check 
      if={ step === 3 } 
      checked={opts.transaction.buyerConfirms}
      handlechange={handleTransactionUpdate}
      transaction={opts.trade.transaction}
      name="buyerConfirms"
      md={tradeSteps[step-1].confirm(!opts.sell && opts.trade.from)} />
      

    <div if={ step === 1 } class="m-t:30px c:prima8">
      <span class="fw:600 fs:70pc_m-b:3px_p-rl:5px_c:seca5_i p:5px-30px dp:ib_p">
        <p if={!opts.sell}> 
          {opts.trade.price} 
          <small>USD</small> 
          <i class="fu-arrow-right" /> 1 
          <small>{opts.trade.to}</small> 
        </p>
        <p if={opts.sell}> 1 
          <small>{opts.trade.from}</small> 
          <i class="fu-arrow-right" /> 
          {opts.trade.price} 
          <small>USD</small> 
        </p>
      </span>
    </div>

    <!--tips-->
    <def-md if={ tradeSteps[step-1].tips } 
      class="m-b:20px fs:80pc fw:400 c:prim200" 
      markdown={tradeSteps[step-1].tips()} />
    
    <!-- buttons -->
    <def-button if={ step !== 1 } 
      sec={step !== 4} 
      white={true} 
      onclick={handleBack}
      text="Back" />
    
    <def-button if={ step !== 4  } 
      disabled={
        (step === 1 && !opts.trade.fromAmount)
        || (step === 2 && !opts.transaction.buyerAgrees) 
        || (step === 3 && !opts.transaction.buyerConfirms)
      } 
      sec={true} 
      onclick={handleContinue}
      text={step === 3 ? 'Done' : 'Next'} />
      
    <def-button if={ opts.trade.status === 'Incomplete' }
      class="c:red600 fs:80pc p-t:10px"
      empty={true}
      onclick={handleTradeDelete}
      text="Delete"
      full={true} />
    
  </div>

  <script>
    this.mixin('riothing');
    this.on('update', init.bind(this)) && init.bind(this)();
    
    if(!this.opts.state.query.id){
      this.update({ loading: true });
      this.act('TRADE_INSERT', { type: 'buy'} )
        .then(data => {
          data.error 
            ? this.act('DEF_REDIRECT', '/trades')
            : this.update(data)
        });
    }
    
    function init(data) {
      const { coin, user, meta, addresses = {}, variables = {}, back, query: { id } } = this.opts.state;
      const trades = this.store('trade').get('trades');
      
      this.loading = data ? data.loading : !this.SERVER && !trades;
      this.error = data && data.error;
      
      const trade = trades && trades.find( trade => trade.id === id ) || {};
      
      this.opts.trade = trade;
      this.opts.sell = trade.sell;
      this.opts.transaction = trade.transaction;
      
      this.addresses = addresses;
      
      if(Object.keys(trade).length)
        this.step = data && data.step 
          || this.step 
          || (!trade.toAmount ? 1 : !trade.transaction.buyerAgrees ? 2 : !trade.transaction.buyerConfirms ? 3 : 4);
      
      this.coin = coin;
      this.meta = meta;
      this.id = id;
      this.back = back;
    }
    
    this.handleTradeUpdate = (value, data) => {
      this.update({ loading: true });
      this.act('TRADE_UPDATE', value, data).then(this.update);
    }
    
    this.handleTransactionUpdate = (value, data) => {
      this.update({ loading: true });
      this.act('TRADE_TRANSACTION_UPDATE', value, data).then(this.update);
    }
    
    this.handleTradeSwap = () => {
      this.update({ loading: true });
      this.act('TRADE_SWAP', this.opts.trade).then(this.update);
    }
    
    this.handleTradeDelete = () => {
      this.act('TRADE_DELETE', this.opts.trade);
    }
    
    this.handleError = () => this.update({ error: null });
    
    this.handleSetStep = step => () => {
      if(this.opts.trade.status !== 'Incomplete') return;
      
      if(this.step === 1 && !this.opts.trade.fromAmount)
        return;
        
      if(this.step === 2 && !this.opts.transaction.buyerAgrees)
        return;
      
      if(this.step === 3 && !this.opts.transaction.buyerConfirms)
        return;
        
      this.update({ step });
    }
    
    this.handleBack = (e) => {
      if(this.opts.trade.status !== 'Incomplete') 
        return this.act('DEF_REDIRECT', '/trades');
      
      this.update({ step: this.step - 1});
    }
    
    this.handleContinue = (e) => {
      if(this.step !== 1 && ((this.step === 2 && !this.opts.transaction.buyerAgrees) || (this.step === 3 && !this.opts.transaction.buyerConfirms)))
        return;
        
      if(this.step === 3) 
        return this.act('TRADE_UPDATE', 'Processing', { name: 'status', trade: this.opts.trade  })
          .then( data => this.update({ ...data, step: this.step + 1 }));
        
      this.handleSetStep(this.step + 1)();
    };
    
    
    this.wingPaymentSteps = () => `
      - Transfer to our wing phone number **${this.paymentPhone}** exactly **${this.trade.fromValue} ${this.trade.fromType}**. 
      - After tansaction enter 8-digit transaction **code** and **senders** phone number.
    `;

    this.tradeSteps = [
      {
        name: 'amount',
        title: type => `Set amount of coins you want to ${type ? 'Buy' : 'Sell'}`,
        icon: () => './img/icons/liquidity.svg',
        subtitle: type => `${type ? 'Buy' : 'Sell' } Bitcoin, Ethereum, Litecoin and more in minutes. Choose the coin and amount.`,
        tips: () => `Extra ${(this.opts.trade.merchant && this.opts.trade.merchant.margin || 0) * 100}% fee is already applied to the provided rate.`
      },
      {
        name: 'destination',
        title: type => `Provide your ${ type ? type + ' Address' : 'Phone number' }`,
        icon: type => type ? './img/icons/wallet.svg' : './img/icons/usd.svg',
        subtitle: type => `After successful ${type ? 'payment' : 'transaction'}, **${this.opts.trade.toAmount} ${this.opts.trade.to}** will be transfered to your specified ${type ? this.opts.trade.to + ' wallet' : 'wing phone number'}`,
        confirm: type => `I agree to the [Terms](${this.act('LINK', 'terms')}) and certify that I am the owner of the ${type ? 'destination address' : 'phone number'}`,
        isChecked: false,
      },
      {
        name: 'payment',
        title: type => `Send ${ type ? 'the payment via Wing' : 'the cryptocurrency'}`,
        icon: type => type ? './img/icons/atm.svg' : './img/icons/blockchain.svg',
        subtitle: type => type 
          ? 'Use wing payment service to send the exact amount to our phone number and enter 8-digit transaction code from the payslip' 
          : `Use your ${this.opts.trade.from} wallet to send the exact amount of coins to our ${this.opts.trade.from} address`,
        confirm: type => `I have sent exactly **${this.opts.trade.fromAmount} ${this.opts.trade.from}** ${type ? 'via Wing' : ''} to **${this.opts.transaction.sellersDestination[type ? 'phone' : 'address']}** ${ type ? 'phone number' : 'address'}`,
        // subtitle: () => `Go to nearest wing branch to make the payment and enter 8-digit transaction code`
      },
      {
        name: this.opts.trade.status === 'Processing' ? 'processing' : 'Complete',
        icon: () => this.opts.trade.status === 'Processing' ? './img/icons/history.svg' : './img/icons/atm.svg',
        title: () => this.opts.trade.status === 'Processing' ? 'Processing Transaction' : 'Transaction Complete',
        tips: () => this.opts.trade.status === 'Processing' 
          ? `Average confirmation time of **${this.opts.trade.transaction.buyersDestination.method || this.opts.trade.to}** transaction can take up to **10 minutes**.`
          : 'Thank **You** for using **CryptoAsia** services',
        subtitle: () => this.opts.trade.status === 'Processing' 
          ? `We are processing your transaction and transfering funds to your provided destination`
          : `We received your transaction and transfered the funds to your provided destination`
      }
    ];
    
    this.handlePaymentOptions = (alow) => e => alow && this.act('DEF_REDIRECT', '#popup=payments');
    
  </script>
</page-trade>
