<page-trades>
  
  <def-fog if={loading && !SERVER } loading={true} />
  <def-msg if={error} error={error} title="Invalid" onclick={error && handleError} />
  
  <section class="mxw:1000px p:5px">
    <def-wrap>

      <div if={!opts.merchant} class="md-p-t:100px p-t:80px md-dp:flx ai:c">
        <div>
          <div class="md-dp:flx jc:fs fw:600_c:txta2_tr:uc_fs:80pc_dt fs:200pc_ws:np_dd mdx-p:10px_dl ta:l_p:0-10px_dl">
            <dl>
              <span>
                <dt>{!showGlobal ? opts.coin.symbol : 'Total'}</dt>
                <dd>{showGlobal ? 'Market cap' : opts.coin.name }</dd>
              </span>
            </dl>
            <dl if={!showGlobal}>
              <dt>price</dt>
              <dd>
                ${currentCap()}
                <small class="fs:50pc fw:400 {
                  'c:green': opts.coin.change > 0, 
                  'c:red': opts.coin.change < 0
                }">{opts.coin.change}%</small>
              </dd>
            </dl>
            <dl if={showGlobal}>
              <dt>Cap</dt>
              <dd>$ {showGlobal ? currentCap() : utils.num(opts.coin.cap)}</dd>
            </dl>
          </div>

          <p class="mxw:800px m-b:20px m-t:10px p-rl:10px c:txt100 ta:l m-l:0 lh:1.5 ls:0.8px">
            {!showGlobal ? opts.coin.desc : totalDesc }
          </p>
        </div>
        <div class="md-ta:r ta:l">
          <def-button classname="m:5px w:100px ta:c" onclick={handleInsertTrade({ type: 'buy' })} white={true}>buy</def-button>
          <def-button classname="m:5px w:100px ta:c" onclick={handleInsertTrade({ type: 'sell' })} sec={true}>sell</def-button>
        </div>
      </div>
      
      <div if={opts.merchant} class="md-p-t:100px p-t:80px md-dp:flx ai:c">
        <comp-merchant
          merchant={opts.merchant}
          variables={variables}
          handle-merchant-update={handleMerchantUpdate}
        />
      </div>
      
      <h2 class="ta:l fs:180pc fw:300 c:prim m-t:40px m-b:30px md-p-rl:10px">Your Latest Trades</h2>

      <div class="md-p-rl:10px p-b:80px">
        <elem-table if={opts.trades} headers="Trade List" trades={opts.trades} link={opts.merchant ? '/transaction' : '/trade'} />
        <div if={!opts.trades} class="ta:l fs:90pc c:prim200">
          You have no existing trades yet
        </div>
        <def-button if={false} classname="m:5px w:100px ta:center" click="{handleShowAllClick}" white={true}>All</def-button>
      </div>

    </def-wrap>
    
  </section>

  <script>
    this.mixin('riothing');

    this.on('update', init.bind(this)) && init.bind(this)();
  
    function init(data) {
      const { coins, coin, variables } = this.opts.state;
      const { user } = this.store('app').get();
      this.opts.trades = this.store('trade').get('trades');
      
      // this.loading = !this.opts.trades;
      this.opts.merchant = user.merchant;
      // console.log(this.merchant, variables.merchantActive, variables.merchantDescription);
      this.user = user;
      this.coins = coins;
      this.coin = coin;
      this.variables = variables;
    }
    
    this.error = null;
    this.showGlobal = true;
    this.totalDesc = "Market capitalization refers to the total dollar market value of a cryptocurrencies. Commonly referred to as \"market cap,\" it is calculated by multiplying a all cryptocurrencies outstanding by the current market price of one cryptocurrency.";
    this.periods = {
      '7 days': this.utils.timestamp('week'),
      '30 days': this.utils.timestamp('month'),
      '1 year': this.utils.timestamp('year')
    };

    this.keys = Object.keys(this.periods);
    this.key = this.keys[0];

    this.handleShowAllClick = (e) => {
      // this.act('TRADE_FETCH', { userId: this.user.id , mode: 1}).then(t => {
      //   const { trades } = this.store('trade').get();
      //   if(trades){
      //     Object.assign(trades, t); 
      //     this.update();
      //   }
      // });
    }
    
    this.getData = (key, showGlobal) =>
      this.opts.state[showGlobal ? 'totalcap' : 'coincap']
      .filter(frag => frag[0] >= this.periods[key || this.key]);

    this.currentCap = () => {
      const data = this.getData(this.key, this.showGlobal);
      return this.utils.num(data[data.length - 1][1]);
    }
    
    this.handleInsertTrade = (obj) => e => {
      this.update({ loading: true });
      this.act('TRADE_INSERT', obj).then(this.update)
    }
    
    this.handleMerchantUpdate = (value, data) => {
      this.update({ loading: true });
      this.act('USER_MERCHANT_UPDATE', value).then(this.update)
    }

    this.handleError = () => this.update({ error: null })
  </script>
</page-trades>
