<page-transaction>
  
  <def-fog if={loading || !SERVER && !step} loading={true} />
  <def-msg if={error} error={error} title="Invalid" onclick={error && handleError} />
  
  <comp-step-nav
    if={step && opts.trade.status === 'Processing'}
    meta={meta} 
    trade-steps={tradeSteps} 
    on-set-step={handleSetStep} 
    step-done={step} 
    back={back} 
    show-link={true}
    onclose={handleclose}
  />

  <div if={step} class={ 'mdx-p-rl:5pc mxw:600px': true, 'm-t:50px': step !== 4 }>
    
    <section>
      <img if={tradeSteps[step - 1].icon} 
        class="md-h:100px h:70px m-b:10px" 
        src={tradeSteps[step-1].icon(!opts.sell)} />
      <h2 class="p:0 md-fs:180pc ls:2 c:prim400 fw:500">
        {tradeSteps[step-1].title(!opts.sell && opts.trade.to)}
      </h2>
      <def-md 
        class="m-t:5px fw:400 c:prim300 p-rl:2pc ta:l_p-l:20px_ul m-b:5px_li mxw:550px" 
        markdown={tradeSteps[step-1].subtitle(!opts.sell)} />
    </section>

    <div class="m-t:40px m-b:20px">
      
      <!-- Step 1 -->
      <comp-step-merchant-one if={ step === 1 }
        trade={opts.trade} 
        transaction={opts.transaction || {}} 
        sell={opts.sell} 
        handle-transaction-update={handleTransactionUpdate} />
      
      <!-- Step 2 -->
      <comp-step-merchant-two if={ step === 2 }
        trade={opts.trade} 
        transaction={opts.transaction || {}} 
        sell={opts.sell} 
        handle-transaction-update={handleTransactionUpdate} />
      
      <!-- Step 2-->
      <comp-summary if={ step === 3 } 
        class="dp:bk m-tb:20px" 
        nohead={false} 
        title="Transaction Summary"
        subtitle="" 
        fields={[
          { label: 'Date', value: utils.date(opts.trade.createdAt, 'iso') },
          { label: 'Action', value: opts.trade.type, classname: !opts.trade.sell ? 'c:green' : 'c:red' },
          { label: 'From', value: [opts.trade.fromAmount, opts.trade.from].join(' '), icon: opts.trade.fromTypeIconUrl },
          { label: 'To', value: [opts.trade.toAmount, opts.trade.to].join(' '), icon: opts.trade.toTypeIconUrl },
          
          opts.transaction.buyersConfirmation.hash && {
            label: 'Senders Confirmation',
            value: opts.trade.from + ' transaction link',
            link: 'https://www.blockchain.com/' + opts.trade.from.toLowerCase() + '/tx/' + opts.transaction.buyersConfirmation.hash
          },
          opts.transaction.sellersDestination.method && {
            label: 'Payment method', value: opts.transaction.sellersDestination.method,
          },
          
          opts.transaction.sellersDestination.method && {},
          opts.transaction.buyersConfirmation.phone && {
            label: 'Senders phone number', value: opts.transaction.buyersConfirmation.phone
          },
          opts.transaction.buyersConfirmation.code && {
            label: 'Senders confirmation code', value: opts.transaction.buyersConfirmation.code
          },
          
          opts.transaction.sellersConfirmation.hash && {
            label: 'Merchants confirmation',
            value: opts.trade.to + ' transaction link',
            link: 'https://www.blockchain.com/' + opts.trade.to.toLowerCase() + '/tx/' + opts.transaction.sellersConfirmation.hash
          },
          
          opts.transaction.sellersConfirmation.phone && {
            label: 'Merchants phone number', value: opts.transaction.sellersConfirmation.phone
          },
          opts.transaction.sellersConfirmation.code && {
            label: 'Merchants confirmation code', value: opts.transaction.sellersConfirmation.code
          },
          
        ]} />
      
    </div>
    
    <!-- check boxes -->
    <def-check 
      if={ step === 1 } 
      checked={opts.transaction.sellerAgrees}
      handlechange={handleTransactionUpdate}
      transaction={opts.trade.transaction}
      name="sellerAgrees"
      md={tradeSteps[step-1].confirm(!opts.sell && opts.trade.from)} />
    
    <def-check 
      if={ step === 2 } 
      checked={opts.transaction.sellerConfirms}
      handlechange={handleTransactionUpdate}
      transaction={opts.trade.transaction}
      name="sellerConfirms"
      md={tradeSteps[step-1].confirm(!opts.sell && opts.trade.from)} />
    
    <!-- buttons -->
    <def-button if={ step !== 1 } 
      sec={step !== 4} 
      white={true} 
      onclick={handleBack}
      text="Back" />
    
    <def-button if={ step !== 3  } 
      disabled={ step === 1 && !opts.transaction.sellerAgrees } 
      sec={true} 
      onclick={handleContinue}
      text={step === 2 ? 'Done' : 'Next'} />
      
    <def-button if={ false }
      class="c:red600 fs:80pc p-t:10px"
      empty={true}
      onclick={handleTradeDelete}
      text="Delete"
      full={true} />
    
  </div>

  <script>
    this.mixin('riothing');
    this.on('update', init.bind(this)) && init.bind(this)();
    
    if(!this.opts.state.query.id){
      this.update({ loading: true });
      this.act('TRADE_INSERT', { type: 'buy'} )
        .then(data => {
          data.error 
            ? this.act('DEF_REDIRECT', '/trades')
            : this.update(data)
        });
    }
    
    function init(data) {
      const { coin, user, meta, addresses = {}, variables = {}, back, query: { id } } = this.opts.state;
      const trades = this.store('trade').get('trades');
      
      this.loading = data ? data.loading : !this.SERVER && !trades;
      this.error = data && data.error;
      
      const trade = trades && trades.find( trade => trade.id === id ) || {};
      
      this.opts.trade = trade;
      this.opts.sell = trade.sell;
      this.opts.transaction = trade.transaction;
      
      this.addresses = addresses;
      
      if(Object.keys(trade).length)
        this.step = data && data.step 
          || this.step 
          || (!trade.transaction.sellerAgrees ? 1 : !trade.transaction.sellerConfirms ? 2 : 3);
      
      this.coin = coin;
      this.meta = meta;
      this.id = id;
      this.back = back;
    }
    
    this.handleTradeUpdate = (value, data) => {
      this.update({ loading: true });
      this.act('TRADE_UPDATE', value, data).then(this.update);
    }
    
    this.handleTransactionUpdate = (value, data) => {
      this.update({ loading: true });
      this.act('TRADE_TRANSACTION_UPDATE', value, data).then(this.update);
    }
    
    this.handleTradeSwap = () => {
      this.update({ loading: true });
      this.act('TRADE_SWAP', this.opts.trade).then(this.update);
    }
    
    this.handleTradeDelete = () => {
      this.act('TRADE_DELETE', this.opts.trade);
    }
    
    this.handleError = () => this.update({ error: null });
    
    this.handleSetStep = step => () => {
      if(this.opts.trade.status !== 'Processing') return;
      
      if(this.step === 1 && !this.opts.transaction.sellerAgrees)
        return;
      
      if(this.step === 2 && !this.opts.transaction.sellerConfirms)
        return;
        
      this.update({ step });
    }
    
    this.handleBack = (e) => {
      if(this.opts.trade.status !== 'Processing') 
        return this.act('DEF_REDIRECT', '/trades');
      
      this.update({ step: this.step - 1});
    }
    
    this.handleContinue = (e) => {
        
      if(this.step === 2) 
        return this.act('TRADE_UPDATE', 'Complete', { name: 'status', trade: this.opts.trade  })
          .then( data => this.update({ ...data, step: this.step + 1 }));
        
      this.handleSetStep(this.step + 1)();
    };
    
    
    this.wingPaymentSteps = () => `
      - Transfer to our wing phone number **${this.paymentPhone}** exactly **${this.trade.fromValue} ${this.trade.fromType}**. 
      - After tansaction enter 8-digit transaction **code** and **senders** phone number.
    `;

    this.tradeSteps = [
      {
        name: 'Confirm',
        title: type => `Buyer Sent ${ type ? 'the payment via Wing' : 'the cryptocurrency'}`,
        icon: type => type ? './img/icons/atm.svg' : './img/icons/blockchain.svg',
        subtitle: type => type 
          ? 'Buyer used wing payment service to send you exact amount to provided phone number and entered 8-digit transaction code from the payslip' 
          : `Buyer used provided wallet address to send the exact amount of coins`,
        confirm: type => `I have received exactly **${this.opts.trade.fromAmount} ${this.opts.trade.from}** ${type ? 'via Wing' : ''} to provided **${this.opts.transaction.sellersDestination[type ? 'phone' : 'address']}** ${ type ? 'phone number' : 'address'}`,
        // subtitle: () => `Go to nearest wing branch to make the payment and enter 8-digit transaction code`
      },
      {
        name: 'Transaction',
        title: type => `Send ${ type ? 'the cryptocurrency' : 'the payment via Wing'}`,
        icon: type => type ? './img/icons/blockchain.svg' : './img/icons/atm.svg',
        subtitle: type => type 
          ? `Use your ${this.opts.trade.to} wallet to send the exact amount of coins to **buyers ${this.opts.trade.to}** address`
          : 'Use wing payment service to send the exact amount to buyers phone number and enter 8-digit transaction code from the payslip',
        confirm: type => `I have sent exactly **${this.opts.trade.toAmount} ${this.opts.trade.to}** ${type ? '' : 'via Wing'} to **${this.opts.transaction.buyersDestination[type ? 'address' : 'phone']}** ${ type ? 'address' : 'phone number'}`,
        // subtitle: () => `Go to nearest wing branch to make the payment and enter 8-digit transaction code`
      },
      {
        name: 'Complete',
        icon: () => './img/icons/atm.svg',
        title: () => 'Transaction Complete',
        tips: () => 'Thank **You** for using **CryptoAsia** services',
        subtitle: () => `Buyer received your transaction.`
      }
    ];
    
    this.handlePaymentOptions = (alow) => e => alow && this.act('DEF_REDIRECT', '#popup=payments');
    
  </script>
</page-transaction>
