<page-news>
  <sect-news 
    class="p:50px-0 dp:bk"
    news={opts.state && opts.state.news} 
    authors={opts.state && opts.state.authors} />
    
    <script>
      this.mixin('riothing');
      
      !this.SERVER && window.scroll(0, 0);
    </script>
</page-news>
