<page-article>
  <section class="ta:l mxw:800px md-m-t:140px m-t:90px m-b:70px">
    <def-wrap>
      <div if={!article.hideTitle} class="p-b:20px m-t:40px">
        <p class="fs:80pc m:20px-0">{utils.ago(article.publishdate)} <small class="c:sec">by</small> <strong>{article.author}</strong></p>
        <h1 class="md-fs:320pc_fw:400_lh:1.1">{article.title}</h1>
      </div>
      <div class="gs:70pc of:hd p:20px p-b:0 bg:white bd:1px-sld-grey200 bd-b:0">
        <img class="w:100pc" alt={article.title} src={article.imageurl.url} />
      </div>
      <div class="bg:white md-p:15px-40px p:20px bd:1px-sld-grey200 bd-t:0">
        <def-md class={classMarkdown} markdown={article && article.content}></def-md>
      </div>
    </def-wrap>
  </section>
  
  
  <script>
    this.mixin('riothing');
    
    const { cryptoasia, params } = this.opts.state;
    const { link } = (params || {})
    this.article = cryptoasia.find( article => article.link === link );
    !this.SERVER && window.scroll(0, 0);
    this.classMarkdown = {
      'fl:l_mxw:50pc_m:25px-20px-15px-0_gs:70pc_img w:100pc_mnh:350px_iframe': true,
      'ta:l m:40px-auto dp:bk m-l:30px_m-t:15px_li': true,
      'fs:120pc_fw:400_lh:1.5 m:20px-0-!_p,ul,ol': true,
      'fs:320pc_fw:400_m:60px-0_lh:1_h1': true,
      'm:40px-0-5px_fs:180pc_fw:400_lh:1.2_h2 c:sec_fw:400_ta:l_m-b:2px_a': true,
      'm-t:30px_h3': true,
      'c_txt300_bd-l:1px-sld-sec_p-l:10px_blockquote': true,
    }
    
    if(!this.article && !this.SERVER)
      this.act('DEF_REDIRECT', '/')
    
  </script>
</page-article>