<page-features>
  <section class="bg:white p-t:50px">
    <def-wrap class="m-tb:20px p-b:20px dp:bk">
    <div class="mdx-dp:ib mdx-flxd:col ai:c fw:600_m:3px_p:4px-10px_br:3px_bd-w:0px_a md-m:5px_a">
      <h1>Progressing</h1>
      <div each={feature in features}>
        <div if={feature.isDone == null || feature.isDone == false}>
          <elem-feature feature={feature}></elem-feature>
        </div>
      </div>
      
      <h1>Done</h1>
      <div each={feature in features}>
        <div if={feature.isDone == true}>
          <elem-feature feature={feature}></elem-feature>
        </div>
      </div>
      
    </div>
  </def-wrap>
  </section>
  <script>
  this.mixin('riothing');
    
    this.features = [];
    
    this.act('FEATURES_FETCH', {}).then( data => this.update({features: data}));
    
  </script>
</page-features>