<page-login>
  <div class="of:auto ps:static md-w:400px">
    <section class="p:10pc">
      <h1 class="p:0 fs:350pc ls:2px fw:100">{getHeadline(phone, valid).title}</h1>
      <p class="p-t:10px bd-t:1px-sld-whitea5 m-t:10px fs:110pc fw:100">{getHeadline(phone, valid).subTitle}</p>
      <a if={valid} onclick={handleNewPin} class="td:uc c:sec m-t:5px">Get new pin</a>
    </section>

    <section class="p:5pc ta:c">
      <def-input if={!phone} full={ true } ref="phone" title="Phone number" option={true} type="number">
        <i class="fu-mobile m-b:2px c:grey" />
      </def-input>

      <def-input if={phone} full={ true } ref="code" title="Verification Code" option={true} type="password">
        <i class="fu-asterisk m-b:2px c:grey" />
      </def-input>

      <def-button class="p-tb:5pc dp:bk" big={ true } full={ true } bordered={ phone } sec={true} onclick={ !phone ? handleLogin : handleVerify } text={ !phone ? 'Verify' : 'Confirm' } />

    </section>
    <def-fog if={loading} loading={loading} />
    <def-msg if={validateLoading || error} loading={validateLoading} error={error} title="Invalid" onclick={error && handleError} />
  </div>

  <script>
    this.mixin('riothing');

    this.phone = null;
    this.loading = null;
    this.validateLoading = null;
    this.error = null;

    this.getHeadline = (phone, valid) => {
      const headlines = {
        basic: { title: 'Sign In', subTitle: 'Level up your account security by using your mobile phone to confirm your identity at login.' }, //You can change this number later in your account settings.
        phone: { title: 'Verify', subTitle: valid ? 'You already have an account. Enter existing verification code or' : 'Verification code been sent to your phone number' }
      }
      return headlines[phone ? 'phone' : 'basic'];
    }

    this.handleLogin = e => {
      e.preventUpdate = true;
      const { phone } = this.refs;

      if (typeof phone.value === 'undefined' || phone.value.length === 0) {
        this.error = 'Please input phone number';
        this.update({ loading: false });
      }
      else {
        this.update({ loading: true });
        this.act('USER_LOGIN', { phone: phone.value }).then(this.update);
      }
    }

    this.handleVerify = e => {
      e.preventUpdate = true;
      const { code } = this.refs;

      if (typeof code.value === 'undefined' || code.value.length === 0) {
        this.error = 'Please input verification code';
        this.update({ loading: false });
      }
      else {
        this.update({ loading: true });
        this.act('USER_VERIFY', {
          phone: this.phone,
          code: code.value,
        }).then(this.update);
      }
    }
    
    this.handleNewPin = () => {
      this.update({ loading: true });
      this.act('USER_NEW_PIN', {
        phone: this.phone
      }).then(this.update)
    }

    this.handleError = () => this.update({ error: null });
  </script>
</page-login>
