<page-main>
  <def-fog if={loading} loading={true} onclose={handleClose} />
  <def-msg if={error} error={error} title="Invalid" onclick={error && handleClose} />
  <sect-header 
    class="w:100pc" 
    coins={opts.state && opts.state.coins}
    coin={opts.state && opts.state.coin}
    data={opts.state.marketcap && opts.state.marketcap.all}
    trade={opts.trade}
    handle-trade-update={handleTradeUpdate}
    handle-trade-swap={handleTradeSwap}
    handle-trade-continue={handleTradeContinue}
  />
  <sect-steps payments={opts.state.payments} />
  <sect-coins if={false} coins={opts.state && opts.state.coins} coin={opts.state && opts.state.coin} />
  <sect-charts totalcap={opts.state.totalcap} coincap={opts.state.coincap} coin={opts.state.coin} coins={opts.state.coins} />
  <sect-why class="bg:white dp:bk" />
  <sect-news news={opts.state && opts.state.news} authors={opts.state && opts.state.authors} />
  
  <script>
    
    this.mixin('riothing');
    this.on('update', init.bind(this)) && init.bind(this)();
    
    this.isCalculation = true;
    
    function init(data) {
      this.opts.trade = this.store('trade').get('trade');
    }
    
    this.handleClose = () => this.update({ loading: null, error: null });
    
    this.handleTradeUpdate = (value, data) => {
      this.update({ loading: true });
      
      this.act('TRADE_CALCULATE', value, data).then(this.update);
    }
    
    this.handleTradeSwap = () => {
      this.update({ loading: true });
      this.act('TRADE_CALCULATE').then(this.update);
    }
    
    this.handleTradeContinue = () => {
      this.update({ loading: true });
      this.act('TRADE_INSERT').then(this.update);
    }
    
  </script>
</page-main>
