<page-chart>
  <div class="p-t:100px bg:white">
    <sect-charts totalcap={opts.state.totalcap} coincap={opts.state.coincap} coin={opts.state.coin} coins={opts.state.coins} />
    <sect-stats coins={opts.state && opts.state.coins} coin={opts.state && opts.state.coin} />
  </div>
</page-chart>
