<tag-app>
  
  <def-fog if={ SERVER && !splash || popup } 
    loading={ !popup } 
    fixed={ true }
    popup={ popup }
    state={ opts.state } 
  />
  
  <div class="md-ts:all ps:rl {
    'an:land-1s': SERVER, 
    'blr:3px': splash, 
    'of:hd-!': splash,
    'h:100pc of:auto': false
  }">
      
    <def-nav 
      classname="ts:all {'try:100npc': page.plain || splash, 'c:white m-t:25px': page.main}" 
      routes={navRoutes} 
      meta={meta}
      transparent={page.main}
      fixed={!page.main}
      user={user}
    />
    
    <def-page
      page={ page }
      state={ opts.state }
      unlimited={ true }
    />
    
  </div>
  
  <def-splash 
    splash={ splash } 
    state={ opts.state }
    down={ true }
    dark={ true } 
  />
  
  <sect-footer if={false} route={route} />

  <script>
    
    this.on('update', init.bind(this)) && init.bind(this)();
    
    function init(data){
      const { splash, popup, page, navRoutes, meta, user, route } = this.opts.state;
      
      this.splash = splash;
      this.popup  = popup;
      this.page   = page;
      this.navRoutes = navRoutes;
      this.route = route;
      this.meta   = meta;
      this.user   = user;
    }
    
    if(!this.SERVER){ 
      
      (() => {
        window.Tawk_API = window.Tawk_API || {}; 
        window.Tawk_LoadStart = new Date();
        
        const script = document.createElement('script');
        const parent = document.getElementsByTagName('script')[0];
        script.async = true;
        script.src = 'https://embed.tawk.to/591bba4f64f23d19a89b26b0/default';
        script.charset = 'UTF-8';
        script.setAttribute('crossorigin','*');
        parent.parentNode.insertBefore(script, parent);
      })();
      
      ((i,s,o,g,r,a,m) => {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function(){(i[r].q = i[r].q || []).push(arguments)};
        i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      // window.addEventListener('popstate', function(e){console.log('url changed')});
      
      ga('create', 'UA-96766381-1', 'auto');
      ga('send', 'pageview');
      
      //ga('set', 'page', '/new-page.html');
      //ga('send', 'pageview');
    }
    
  </script>
</tag-app>