<comp-step-two>
  <div>
    <def-input 
      if={!opts.sell} 
      labeled={true}
      full={true}
      title="{opts.trade.to} address" 
      class="bs:1" 
      val={opts.transaction && opts.transaction.buyersDestination && opts.transaction.buyersDestination.address}
      name="buyersDestination.address"
      transaction={opts.transaction}
      handleblur={opts.handleTransactionUpdate} 
      eg={ opts.addresses[opts.trade.to] } option={true}>
        <img class="w,h:25px" src={ parent.opts.trade.toTypeIconUrl } />
    </def-input>
    
    <def-input 
      if={opts.sell} 
      labeled={true} 
      full={true} 
      val={opts.transaction.buyersDestination && opts.trade.transaction.buyersDestination.phone} 
      name="buyersDestination.phone"
      transaction={opts.trade.transaction}
      handleblur={opts.handleTransactionUpdate}
      ref="wingPhone"
      title="phone number" 
      eg="012345678"
      handleclickoptions={opts.handlePaymentOptions && opts.handlePaymentOptions(true)} 
      classname="bs:1"
      option={true}>
        <img class="h:25px" src='/img/logo-payment-wing.png' />
    </def-input>
  </div>
</comp-step-two>