<comp-step-three>
  <comp-summary 
    if={!opts.sell} 
    class="dp:bk m-tb:20px" 
    nohead={false} 
    title="Wing payment information" 
    subtitle={false && wingPaymentSteps} 
    img="/img/logo-payment-wing.png" 
    fields={[ 
      { label: 'Amount to send', value: [opts.trade.fromAmount, opts.trade.from].join(' ') }, 
      { label: 'Our wing phone number', value: opts.transaction.sellersDestination && opts.transaction.sellersDestination.phone } 
    ]} />
  
  <comp-summary 
    if={opts.sell} 
    class="dp:bk m-tb:20px" 
    nohead={false} 
    title={opts.trade.from + ' transaction information'} 
    subtitle={false && wingPaymentSteps} 
    img={opts.trade.fromTypeIconUrl} 
    fields={[ 
      { label: 'Amount to send', value: [opts.trade.fromAmount, opts.trade.from].join(' ')}, 
      { label: 'Our ' + opts.trade.from + ' address', value: opts.transaction.sellersDestination && opts.transaction.sellersDestination.address } 
    ]} />
  
  <!--Sender phone-->
  <div if={!opts.sell} class="md-dp:flx jc:sb">
    <def-input 
      val={opts.transaction.buyersConfirmation && opts.transaction.buyersConfirmation.phone} 
      handleblur={opts.handleTransactionUpdate} 
      labeled={true}
      name="buyersConfirmation.phone"
      transaction={opts.transaction}
      title="Senders phone number" 
      classname="bs:1" />
  
    <def-input 
      labeled={true} 
      title="8-digit Wing Transaction Code" 
      val={opts.transaction.buyersConfirmation && opts.transaction.buyersConfirmation.code}
      name="buyersConfirmation.code"
      transaction={opts.transaction}
      handleblur={opts.handleTransactionUpdate} 
      classname="bs:1" />
  </div>
  
  <!--Sender Transaction-->
  <def-input if={opts.sell}
    className="mxw:100pc-! bs:1"
    val={opts.transaction.buyersConfirmation && opts.transaction.buyersConfirmation.hash} 
    handleblur={opts.handleTransactionUpdate} 
    labeled={true}
    name="buyersConfirmation.hash"
    transaction={opts.transaction}
    title="Transaction Hash" 
    classname="bs:1" />
</comp-step-three>