<elem-feature>
  <a 
        href="#"
        class="{
          'hv-bs:3 hv-scl:1.048 hv-bd-c:ts_feature': true,
          'dp:bk w:100pc p:0-20px ts:all mxh:300px': true,
        }">
          <feature class="p-tb:30px dp:flx jc:sb ta:l bd-b:2px-sld-greya2">
            <div class="md-w:30pc">
              <h2 class="fw:600 fs:100pc lh:1.2 m:0-10px-15px-0">{opts.feature.title}</h2>
              <p class="fs:80pc">
                <span>{utils.ago(opts.feature.updatedAt)}</span> 
              </p>
            </div>
            
            <p class="mdx-dp:n w:100pc lh:1.5 ls:0.8px m:0 fs:90pc p-r:20px c:txt300">
              <def-md markdown={opts.feature.description}></def-md>
            </p>
            
          </feature>
  </a>
</elem-feature>