<elem-table>
  <div class="dp:tb bg:white md-ta:l w:100pc fw:400_ws:np_p:10px_span op:0.4_fs:85pc_fw:400_m-t:2px_ws:np_p bs:1">
    <div class="dp:tr dp:td_fs:75pc_tr:uc_c:grey300_bd-b:1px-sld-grey200_p:10px_h3 bg:grey100">
      <h3 class="mdx-dp:n-!"></h3>
      <h3 class="ta:c mdx-dp:n-!">Date</h3>
      <h3></h3>
      <h3 class="ta:l">From</h3>
      <h3></h3>
      <h3></h3>
      <h3 class="ta:l">To</h3>
      <h3 class="ta:c mdx-dp:n-!">Status</h3>
    </div>
    <a each={t, index in opts.trades} href={opts.link + '?id=' + t.id} class="bg:white dp:tr dp:td_va:m_all mdx-m:5px-1pc_w:30pc ts:all ol-c:ts op:0.7 hv-bg:greya1_op:1 ol-c:grey200">
      <!--<div class="p:10px-20px w:10px fw:400 fs:120pc c:grey300 mdx-dp:n">#{ opts.trades.length + 1 - t.index }</div>-->
      <div class="p:10px-20px w:10px fw:400 fs:120pc c:grey300 mdx-dp:n">#{ t.index }</div>
      <div class="p:10px ta:c mdx-dp:n-!">
        <div class="w:100px fs:90pc fw:400">{ utils.ago(t.createdAt) }</div>
      </div>
      <div class="p:10px mxw:40px ta:r">
        <img if={t.fromTypeIconUrl} 
          src={t.fromTypeIconUrl} 
          class="md-w:50px w:30px bg:white br:50pc p:3px ts:bs bg:white br:50pc p:3px ts:bs bs:3" />
      </div>
      <div class="p:10px mxw:100px ta:l">
        <h4>{t.fromAmount}</h4>
        <p>{t.from}</p>
      </div>

      <div class="p:10x fs:bold fs:70pc md-ta:l">
        <i class="fu-chevron-thin-right c:grey"></i>
      </div>

      <div class="p:10px mxw:40px ta:r">
        <img if={t.toTypeIconUrl} src={t.toTypeIconUrl} class="md-w:50px w:30px bg:white br:50pc p:3px ts:bs  w:50px bg:white br:50pc p:3px ts:bs bs:3" />
      </div>
      <div class="p:10px mxw:100px ta:l">
        <h4>{t.toAmount}</h4>
        <p>{t.to}</p>
      </div>
      <div class="p:10px fw:500 fs:90pc ta:c mdx-dp:n {'c:green' : t.status === 'Complete', 'c:yellow700': t.status === 'Processing', 'c:red': t.status === 'Incomplete' }">
        {t.status}
      </div>

    </a>
  </div>
  
</elem-table>
