<comp-step-merchant-two>
  <comp-summary 
    if={opts.sell} 
    class="dp:bk m-tb:20px" 
    nohead={false} 
    title="Wing payment information" 
    img="/img/logo-payment-wing.png" 
    fields={[ 
      { label: 'Amount to send', value: [opts.trade.toAmount, opts.trade.to].join(' ') }, 
      { label: 'Buyers wing phone number', value: opts.transaction.buyersDestination && opts.transaction.buyersDestination.phone } 
    ]} />
  
  <comp-summary 
    if={!opts.sell} 
    class="dp:bk m-tb:20px" 
    nohead={false} 
    title={opts.trade.to + ' transaction information'} 
    img={opts.trade.toTypeIconUrl} 
    fields={[ 
      { label: 'Amount to send', value: [opts.trade.toAmount, opts.trade.to].join(' ')}, 
      { label: 'Buyers ' + opts.trade.to + ' address', value: opts.transaction.buyersDestination && opts.transaction.buyersDestination.address } 
    ]} />
  
  <!--Sender phone-->
  <div if={opts.sell} class="md-dp:flx jc:sb">
    <def-input 
      val={opts.transaction.sellersConfirmation && opts.transaction.sellersConfirmation.phone} 
      handleblur={opts.handleTransactionUpdate} 
      labeled={true}
      name="sellersConfirmation.phone"
      transaction={opts.transaction}
      title="Senders phone number" 
      classname="bs:1" />
  
    <def-input 
      labeled={true} 
      title="8-digit Wing Transaction Code" 
      val={opts.transaction.sellersConfirmation && opts.transaction.sellersConfirmation.code}
      name="sellersConfirmation.code"
      transaction={opts.transaction}
      handleblur={opts.handleTransactionUpdate} 
      classname="bs:1" />
  </div>
  
  <!--Sender Transaction-->
  <def-input if={!opts.sell}
    className="mxw:100pc-! bs:1"
    val={opts.transaction.sellersConfirmation && opts.transaction.sellersConfirmation.hash} 
    handleblur={opts.handleTransactionUpdate} 
    labeled={true}
    name="sellersConfirmation.hash"
    transaction={opts.transaction}
    title="Transaction Hash" 
    classname="bs:1" />
</comp-step-merchant-two>