<comp-step-merchant-one>
  <comp-summary 
    if={!opts.sell} 
    class="dp:bk m-tb:20px" 
    nohead={false} 
    title="Buyers Wing payment information"
    img="/img/logo-payment-wing.png" 
    fields={[ 
      { label: 'Buyers wing phone number', value: opts.transaction.buyersConfirmation && opts.transaction.buyersConfirmation.phone },
      { label: 'Buyers wing confirmation code', value: opts.transaction.buyersConfirmation && opts.transaction.buyersConfirmation.code },
      { label: 'Amount you received', value: [opts.trade.fromAmount, opts.trade.from].join(' ') }
    ]} />
  
  <comp-summary 
    if={opts.sell} 
    class="dp:bk m-tb:20px" 
    nohead={false} 
    title={'Buyers ' + opts.trade.from + ' transaction information'}
    img={opts.trade.fromTypeIconUrl} 
    fields={[ 
      { label: 'Amount had to receive', value: [opts.trade.fromAmount, opts.trade.from].join(' ')}, 
      { label: 'Buyers ' + opts.trade.from + ' address', value: opts.transaction.buyersConfirmation && opts.transaction.buyersConfirmation.hash } 
    ]} />
  
</comp-step-merchant-one>